h1{
    text-align: center;
}
body
{
/* On travaille sur la balise body, donc sur TOUTE la page */

    background-color: black; /* Le fond de la page sera noir */
    color: white; /* Le texte de la page sera blanc */
}

#conteneur
{
    display: flex;
    flex-wrap: wrap;
}


section
{
    
    display: flex;
    justify-content: flex-end;

}